@charset "UTF-8";

/* header */
.head{
    position: relative;
    height: 44px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f2f2f2;
}
.head__menu{
    position: absolute;
    top: 8px;
    left: 16px;
}
.head__menu img{
    width: 30px;
    height: 30px;
}
.head__title{
    margin: 0 auto;
    font-size: 17px;
    font-weight: 500;
}

/* footer */
.foot-nav{
    height: 40px;
    line-height: 40px;
    background: #dbdbdb;
}
.foot-nav__menu{
    display: inline-block;
    width: 24%;
    position: relative;
}
.foot-nav__menu a{
    font-weight: 500;
}
.foot-nav__menu::after{
    content: '';
    width: 1px;
    height: 8px;
    font-size: 8px;
    position: absolute;
    top: 17px;
    right: 0;
    display: inline-block;
    border-right: 1px solid #c8c8c8;
}
.foot-nav__menu:last-child::after{
    display: none;
}
.foot-content{
    padding: 12px 16px 80px;
    background: #F1F1F1;
    min-height: 120px;
}
.foot-info__title{
    text-align: left;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    position: relative;
}
.foot-info__content{
    text-align: left;
    font-size: 11px;
    line-height: 18px;
}
.foot-info__content a{
    text-decoration: underline;
    font-size: 11px;
}
.foot-info__btn{
    position: absolute;
    top: 0;
    left: 60px;
}
.foot-info__btn img{
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
.more{
    transform: rotateX(0deg);
}
.less{
    transform: rotateX(180deg);
}
.foot-policy{
    float: left;
    margin-top: 10px;
}
.foot-policy li{
    display: inline-block;
}
.foot-policy li a{
    font-size: 11px;
}
.foot-policy li::after{
    content: '';
    width: 1px;
    height: 8px;
    display: inline-block;
    margin: 0 10px;
    border-right: 1px solid #c8c8c8;
}
.foot-policy li:nth-child(2){
    font-weight: bold;
}
.foot-policy li:last-child::after{
    display: none;
}

.tab__box {
    display:none;
}
.tab__box.on {
    display:block;
}